@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@theme {
  --color-bg: #ffffff;
  --color-surface: #f4f3ec;
  --color-border: #e5e4e7;
  --color-text: #6b6375;
  --color-heading: #08060d;
  --color-accent: #aa3bff;

  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;
}

html[data-theme="dark"] {
  --color-bg: #16171d;
  --color-surface: #1f2028;
  --color-border: #2e303a;
  --color-text: #9ca3af;
  --color-heading: #f3f4f6;
  --color-accent: #c084fc;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-sans), serif;
    -webkit-font-smoothing: antialiased;
  }
}